Kenneyjam23/UserSettings/
Kenneyjam23/Logs/
Kenneyjam23/Library/
Kenneyjam23/Temp/
Kenneyjam23/.vs/
Kenneyjam23/obj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.sln